[Desktop Entry]
Type=Application
Name=NSL-Linux
GenericName=Network Monitor
Comment=AnalogX NetStat Live style network monitor for Linux
Exec=nsl-linux
Icon=network-workgroup
Terminal=false
Categories=Network;Monitor;Qt;
StartupWMClass=nsl-linux
X-KDE-Wayland-Interfaces=org_kde_plasma_window_management
